@font-face {
  font-family: "Spartan";
  src: url("https://fonts.google.com/specimen/Spartan");
}
$magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  margin: 0 165px 0 165px;
}

h1 {
  color: $magenta;
  font-size: 45.5px;
  font-weight: 700;
}

.first-section {
  display: flex;
  margin-top: 90px;
}

.description {
  color: $dark-grayish-magenta;
  font-weight: 500;
}

.rates {
  background-color: $light-grayish-magenta;
  color: $magenta;
  font-weight: 700;
}

.review-card {
  background-color: $magenta;
  flex-direction: column;
  width: 25.7%;
  height: 170px;
  padding: 32px 32px;
  border-radius: 10px;
  p {
      line-height: 22px;
      font-size: 12.7px;
  }
}

.review-info {
  display: flex;
  justify-content: start;
  align-items: center;
  
  p {
      line-height: 10px;
      margin-left: 20px;
  }
  img {
      border-radius: 200px;
      width: 14%;
  }
}

.review-name {
  color: $light-grayish-magenta;
  font-weight: 700;
}

.review-verify {
  color: $soft-pink;
}

.review-paragraph {
  color: $light-grayish-magenta;
}

.second-section {
  display: flex;
  justify-content: space-between;
}

.second-card {
    margin-top: 18px;
}

.third-card {
    margin-top: 34px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
